body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

header {
  background: #111;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.btn {
  color: white;
  background: #ff0055;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
}

section {
  padding: 40px 20px;
}

h2 {
  color: #333;
}

.project-card {
  background: white;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}
